/* Header stílusa */

#header {
	/*background-image: url('../images/back1.jpg');*/
	background-position: left;
	background-size: cover;

	/* Text stílusok*/
	text-align: center;
	text-transform: uppercase;
	color: white;
	letter-spacing: 10px;

}

#header img {
	width: 200px;
	filter: invert(1);

	padding-top: 50px;
}

#header h1 {
	line-height: 20px;
	padding-bottom: 40px;
	color: rgb(204, 153, 0);
	text-shadow: 0px 0px 5px black;
}

#header span {
	font-size: 15px;
	color: white;
}

/* Overlay stílusa */

#overlay {
	background-color: rgba(0,0,0,0.6);
}
