.input {
	margin-bottom: 20px;
}

#send-recept input, textarea{
	width: 400px;
	height: 15px;
	border: 1px solid gray;
	box-shadow: 0px 0px 2px black;
}

#send-recept textarea {
	height: 80px;
}

#send-recept select {
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	width: 400px;
}

.adds {
	display: inline-block;
	margin: 20px;
}

#send-recept input[type=submit] {
	height: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

#send-recept input[type=submit]:hover {
	background-color: black;
	color: rgb(204, 153, 0);
	transition: 0.4s;
}
